.columns{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.card{
    background: #8A7F76;
    padding: 10px 20px;
    border: 0;
    border-radius: 30;
}
img{
    width: 150px;
    box-shadow: 5px 10px 10px 3 #3D3732;
}

.tex1t{
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    color: #CBCDCD;
    margin: 0 auto;
}

.tex2t{
    font-family:'Times New Roman', Times, serif;
    color: #3D3732;
    margin: 10 auto;
}

